html {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header {
    height: 650px;
  }
}

.container {
   width: 100%;
   position:relative;
}

.clearfix: after {
	content: "";
	display: table;
	clear: both;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
    text-decoration: none;
}

body {
   font-family: Merienda, Arial, sans-serif;
   background-color: #aff779;
   position: relative;
   margin: 0px;
   padding-bottom: 130px;
   min-height:100%;
}

.hamburger {
    display: none;
}

header {
    background-color: #99cc00;
    padding:10px;
    text-align: center;
}

.nav {
	font-size: 17px;
    padding: 30px;
}

.nav ul {
	display: flex;	
	list-style: none;
    justify-content:flex-end;
    padding-right: 5px;
}

.nav a {
	color: #1a3300;
	padding: 20px;
}

nav a:hover {
	background-color: #8cff66;
}

nav a.active {
	background-color: #66ff33;
}

header p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 16px;
    color: #002633;
}

.logo {
    width: 90px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}

.hero-image {
  background-image: url("koer11.jpg");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 350px;
}

.avakontakt {
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
}

.kontakt-ava {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 20px;
    color: black;
}

.map-ava {
    padding-left: 50px;
    padding-bottom: 20px;
}

.inset {
    font-size: 55px;
    text-align: center;
    top: 50%;
    color: #99cc00;
    text-shadow: 
    5px 5px 7px #1a3300,  
    5px 5px 7px #1a3300;
    line-height: 3px;
}

.flex-container {
	display: flex;
	flex-direction: row;
    justify-content: center;
	font-size: 25px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.flex-item img {
    width: auto;
    border-radius: 50%;
    height: 400px;
    margin-left: 10px;
}

h3 {
	color: black;
    padding-bottom: 50px;
    text-align: center;
}

.footer {
	font-family: Merienda, Arial, sans-serif;
	text-align: center;
	color: #1a3300;
    background-color: #99cc00;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer p {
	font-size: 20px;
	font-weight: regular;
	padding-top: 40px;
	padding-bottom: 25px;
}

.ikoonid ul {
	display: flex;
	justify-content: center;
	width: auto;
	height: 15px;
}

.ikoonid img {
	width: 35px;
	height: 35px;
	padding-left: 3px;
	padding-right: 3px;
    margin-top: 15px;
	max-width: 100%;
}

.grid-container {
  display:grid;
  justify-content: center;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 5px 5px 20px 5px;
}

.grid-item {
  background-color: #8cff66;
  font-size: 20px;
  text-align: center;
  padding: 5px; 
  margin: 5px;
  color: black;
}

.pilt-koer {
	height: 250px;
    width: auto;
    margin-top: 8px;
    vertical-align: middle;
}

.pilt-kass {
	height: 230px;
    width: auto;
}

.pilt-loom {
	height: 230px;
    width: auto;
}


.kontakt ul {
    font-size: 30px;
    padding-left: 50px;
    color: black;
}

.kontakt h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 50px;
    text-align: left;
    color: black;
}

.map {
    padding-left: 50px;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.toetamine {
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 150px;
}

.toetamine h2 {
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
    margin-top: 50px;
}

.toetamine li {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.pank {
    margin-top: 70px;
}

.varjupaik {
    margin-bottom: 380px;
    margin-top: 170px;
    size: 100px;
    color: black;
}

.varjupaik h2 {
    font-weight: bold;
    color: black;
    padding-left: 50px;
    padding-bottom: 20px;
}

.varjupaik p {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.taust1 {
    position: absolute;
    opacity: 0.5;
    float: right;
    height:80%;
}

.taust2 {
    position: absolute;
    opacity: 0.5;
    float: right;
    width: 100%;
    height: 83%;
}

.kuulutuspk {
    margin-left: 120px;
    margin-top: 20px;
    color: black;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.box {
	margin-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.koer-k {
	height: 350px;
    width: auto;
}

.kass-k {
	height: 350px;
    width: auto;
}

.additing{
    background-color: #a0ffc0;
    width: 520px;
    padding: 5px;
    margin-left: 120px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

input {
    padding: 5px;
    font-size: 15px;
}

#missing, #animal-type, #breed-type, #subject, #finding-date, #chosen, #add-file, #personal-epost, #personal-tel {
    margin-bottom: 10px;
    padding: 5px;
    width: 500px;
    font-size: 15px;
}


@media only screen and (max-width: 1240px) {
    
nav a {
    display: none;
    }
    
.hamburger {
	display: block;
	float: right;
	margin-top: -40px;
    margin-right: 6%;
	position: relative;
}

.hamburger span {
	background: white;
	width: 30px;
	height: 5px;
	display: block;
	margin-bottom: 4px;
}

.hero-image {
    display: none;
    }
}
